@font-face {
  font-family: "Flaticon";
  src: url("../flaticon/Flaticon.eot");
  src: url("../flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../flaticon/Flaticon.woff") format("woff"),
       url("../flaticon/Flaticon.ttf") format("truetype"),
       url("../flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-attachment:before { content: "\f100"; }
.flaticon-reports:before { content: "\f101"; }
.flaticon-pai-standard:before { content: "\f102"; }
.flaticon-minus:before { content: "\f103"; }
.flaticon-chemical:before { content: "\f104"; }
.flaticon-twitter:before { content: "\f105"; }
.flaticon-e-service:before { content: "\f106"; }
.flaticon-metrology:before { content: "\f107"; }
.flaticon-delete:before { content: "\f108"; }
.flaticon-link-1:before { content: "\f109"; }
.flaticon-iso:before { content: "\f10a"; }
.flaticon-password:before { content: "\f10b"; }
.flaticon-calendar:before { content: "\f10c"; }
.flaticon-track-record:before { content: "\f10d"; }
.flaticon-inspection-log:before { content: "\f10e"; }
.flaticon-issued-certificate:before { content: "\f10f"; }
.flaticon-ncr-application:before { content: "\f110"; }
.flaticon-application-review:before { content: "\f111"; }
.flaticon-mechanical:before { content: "\f112"; }
.flaticon-health:before { content: "\f113"; }
.flaticon-poll:before { content: "\f114"; }
.flaticon-my-projects:before { content: "\f115"; }
.flaticon-management:before { content: "\f116"; }
.flaticon-project-schedule:before { content: "\f117"; }
.flaticon-oil:before { content: "\f118"; }
.flaticon-ministry-approval:before { content: "\f119"; }
.flaticon-link:before { content: "\f11a"; }
.flaticon-inspection-allocation:before { content: "\f11b"; }
.flaticon-civil:before { content: "\f11c"; }
.flaticon-electrical:before { content: "\f11d"; }
.flaticon-standard-catalogue:before { content: "\f11e"; }
.flaticon-social:before { content: "\f11f"; }
.flaticon-inspection-plan:before { content: "\f120"; }
.flaticon-people:before { content: "\f121"; }
.flaticon-logout:before { content: "\f122"; }
.flaticon-information:before { content: "\f123"; }
.flaticon-certifications:before { content: "\f124"; }
.flaticon-ncr-followup:before { content: "\f125"; }
.flaticon-profile:before { content: "\f126"; }
.flaticon-edit:before { content: "\f127"; }
.flaticon-final-report:before { content: "\f128"; }
.flaticon-forum:before { content: "\f129"; }
.flaticon-cancel:before { content: "\f12a"; }
.flaticon-add:before { content: "\f12b"; }
.flaticon-down-arrow:before { content: "\f12c"; }
.flaticon-search:before { content: "\f12d"; }
.flaticon-print:before { content: "\f12e"; }
.flaticon-standard-verification:before { content: "\f12f"; }
.flaticon-committee:before { content: "\f130"; }
.flaticon-application:before { content: "\f131"; }
.flaticon-request-license:before { content: "\f132"; }
.flaticon-plus:before { content: "\f133"; }
.flaticon-previous:before { content: "\f134"; }
.flaticon-pause:before { content: "\f135"; }
.flaticon-next:before { content: "\f136"; }
.flaticon-project-bank:before { content: "\f137"; }
.flaticon-inspection-schedule:before { content: "\f138"; }
.flaticon-lab-results:before { content: "\f139"; }
.flaticon-information-technology:before { content: "\f13a"; }
.flaticon-inspection-sampling:before { content: "\f13b"; }
.flaticon-agriculture:before { content: "\f13c"; }
.flaticon-rejected-application:before { content: "\f13d"; }
.flaticon-prepare-certificate:before { content: "\f13e"; }
.flaticon-notification-from:before { content: "\f13f"; }
.flaticon-admin:before { content: "\f140"; }
.flaticon-lab-request:before { content: "\f141"; }
.flaticon-certificate:before { content: "\f142"; }
.flaticon-news:before { content: "\f143"; }
.flaticon-close:before { content: "\f144"; }
.flaticon-project:before { content: "\f145"; }
.flaticon-e-services:before { content: "\f146"; }
.flaticon-view:before { content: "\f147"; }
.flaticon-inspection-list:before { content: "\f148"; }
.flaticon-youtube:before { content: "\f149"; }
.flaticon-inspection-order:before { content: "\f14a"; }
.flaticon-facebook:before { content: "\f14b"; }
.flaticon-recommendation:before { content: "\f14c"; }
.flaticon-my-download:before { content: "\f14d"; }
.flaticon-training:before { content: "\f14e"; }
.flaticon-checklist:before { content: "\f14f"; }
.flaticon-project-author:before { content: "\f150"; }
.flaticon-appeal-approval:before { content: "\f151"; }
.flaticon-appeal:before { content: "\f152"; }
.flaticon-asterisk:before { content: "\f153"; }
.flaticon-cart:before { content: "\f154"; }
.flaticon-nav-left:before { content: "\f155"; }
.flaticon-check-mark:before { content: "\f156"; }
.flaticon-nav-right:before { content: "\f157"; }
.flaticon-committee-admin:before { content: "\f158"; }
.flaticon-project-flow:before { content: "\f159"; }
.flaticon-home:before { content: "\f15a"; }
.flaticon-upload:before { content: "\f15b"; }
.flaticon-arrows:before { content: "\f15c"; }
.flaticon-download:before { content: "\f15d"; }
.flaticon-arrows-right:before { content: "\f15e"; }
.flaticon-catalogue:before { content: "\f15f"; }
.flaticon-arrows-left:before { content: "\f160"; }
.flaticon-rss:before { content: "\f161"; }
.flaticon-project-vote:before { content: "\f162"; }
.flaticon-appeal-ncr:before { content: "\f163"; }
.flaticon-schedule-approval:before { content: "\f164"; }
.flaticon-play:before { content: "\f165"; }
    
    $font-Flaticon-attachment: "\f100";
    $font-Flaticon-reports: "\f101";
    $font-Flaticon-pai-standard: "\f102";
    $font-Flaticon-minus: "\f103";
    $font-Flaticon-chemical: "\f104";
    $font-Flaticon-twitter: "\f105";
    $font-Flaticon-e-service: "\f106";
    $font-Flaticon-metrology: "\f107";
    $font-Flaticon-delete: "\f108";
    $font-Flaticon-link-1: "\f109";
    $font-Flaticon-iso: "\f10a";
    $font-Flaticon-password: "\f10b";
    $font-Flaticon-calendar: "\f10c";
    $font-Flaticon-track-record: "\f10d";
    $font-Flaticon-inspection-log: "\f10e";
    $font-Flaticon-issued-certificate: "\f10f";
    $font-Flaticon-ncr-application: "\f110";
    $font-Flaticon-application-review: "\f111";
    $font-Flaticon-mechanical: "\f112";
    $font-Flaticon-health: "\f113";
    $font-Flaticon-poll: "\f114";
    $font-Flaticon-my-projects: "\f115";
    $font-Flaticon-management: "\f116";
    $font-Flaticon-project-schedule: "\f117";
    $font-Flaticon-oil: "\f118";
    $font-Flaticon-ministry-approval: "\f119";
    $font-Flaticon-link: "\f11a";
    $font-Flaticon-inspection-allocation: "\f11b";
    $font-Flaticon-civil: "\f11c";
    $font-Flaticon-electrical: "\f11d";
    $font-Flaticon-standard-catalogue: "\f11e";
    $font-Flaticon-social: "\f11f";
    $font-Flaticon-inspection-plan: "\f120";
    $font-Flaticon-people: "\f121";
    $font-Flaticon-logout: "\f122";
    $font-Flaticon-information: "\f123";
    $font-Flaticon-certifications: "\f124";
    $font-Flaticon-ncr-followup: "\f125";
    $font-Flaticon-profile: "\f126";
    $font-Flaticon-edit: "\f127";
    $font-Flaticon-final-report: "\f128";
    $font-Flaticon-forum: "\f129";
    $font-Flaticon-cancel: "\f12a";
    $font-Flaticon-add: "\f12b";
    $font-Flaticon-down-arrow: "\f12c";
    $font-Flaticon-search: "\f12d";
    $font-Flaticon-print: "\f12e";
    $font-Flaticon-standard-verification: "\f12f";
    $font-Flaticon-committee: "\f130";
    $font-Flaticon-application: "\f131";
    $font-Flaticon-request-license: "\f132";
    $font-Flaticon-plus: "\f133";
    $font-Flaticon-previous: "\f134";
    $font-Flaticon-pause: "\f135";
    $font-Flaticon-next: "\f136";
    $font-Flaticon-project-bank: "\f137";
    $font-Flaticon-inspection-schedule: "\f138";
    $font-Flaticon-lab-results: "\f139";
    $font-Flaticon-information-technology: "\f13a";
    $font-Flaticon-inspection-sampling: "\f13b";
    $font-Flaticon-agriculture: "\f13c";
    $font-Flaticon-rejected-application: "\f13d";
    $font-Flaticon-prepare-certificate: "\f13e";
    $font-Flaticon-notification-from: "\f13f";
    $font-Flaticon-admin: "\f140";
    $font-Flaticon-lab-request: "\f141";
    $font-Flaticon-certificate: "\f142";
    $font-Flaticon-news: "\f143";
    $font-Flaticon-close: "\f144";
    $font-Flaticon-project: "\f145";
    $font-Flaticon-e-services: "\f146";
    $font-Flaticon-view: "\f147";
    $font-Flaticon-inspection-list: "\f148";
    $font-Flaticon-youtube: "\f149";
    $font-Flaticon-inspection-order: "\f14a";
    $font-Flaticon-facebook: "\f14b";
    $font-Flaticon-recommendation: "\f14c";
    $font-Flaticon-my-download: "\f14d";
    $font-Flaticon-training: "\f14e";
    $font-Flaticon-checklist: "\f14f";
    $font-Flaticon-project-author: "\f150";
    $font-Flaticon-appeal-approval: "\f151";
    $font-Flaticon-appeal: "\f152";
    $font-Flaticon-asterisk: "\f153";
    $font-Flaticon-cart: "\f154";
    $font-Flaticon-nav-left: "\f155";
    $font-Flaticon-check-mark: "\f156";
    $font-Flaticon-nav-right: "\f157";
    $font-Flaticon-committee-admin: "\f158";
    $font-Flaticon-project-flow: "\f159";
    $font-Flaticon-home: "\f15a";
    $font-Flaticon-upload: "\f15b";
    $font-Flaticon-arrows: "\f15c";
    $font-Flaticon-download: "\f15d";
    $font-Flaticon-arrows-right: "\f15e";
    $font-Flaticon-catalogue: "\f15f";
    $font-Flaticon-arrows-left: "\f160";
    $font-Flaticon-rss: "\f161";
    $font-Flaticon-project-vote: "\f162";
    $font-Flaticon-appeal-ncr: "\f163";
    $font-Flaticon-schedule-approval: "\f164";
    $font-Flaticon-play: "\f165";