$theme-color: #ee5423;
$main-menu-bg: $theme-color;
$top-header-bg: #f1cb60;
$border-color: #ddd;
$sidebar-bg: #ebebeb;
/* =========================== Color Variables =========================== */
$text-color: #444;
$primary-color: #ee5423;
$success-color: #39b54a;
$info-color: #3452ff;
$warning-color: #ffb052;
$danger-color: #e81414;

/* =========================== Font Variables =========================== */
$lato-bold: 'latobold';
$lato-light: 'latolight';
$lato-regular: 'latoregular';
$droid-bold: 'droid_arabic_naskhbold';
$droid-regular: 'droid_arabic_naskhregular';

$completed-color: $theme-color;
$upcoming-color: #d7d7d7;