#application-details {
    .panel {
        margin: 0;
        +.panel {
            margin-top: 30px;
        }
        .panel-heading {
            position: relative;
            padding-right: 40px;
            .panel-title {
                @include text-truncate;
            }
            .toggle-btn {
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                right: 10px;
                top: 10px;
                border-radius: 50%;
                color: black;
                text-align: center;
                background: white;
                &:before {
                    font-family: 'Flaticon';
                    content: $font-Flaticon-minus;
                    font-size: 10px;
                    line-height: 20px;
                    vertical-align: top;
                }
                &.collapsed {
                    &:before {
                        content: $font-Flaticon-plus;
                    }
                }
            }
            a {
                &:hover,
                &:focus {
                    text-decoration: none !important;
                }
            }
        }
        .panel-body {
            .row {
                +.row {
                    margin-top: 20px;
                }
            }
            .btn {
                white-space: normal;
            }
            h4 {
                margin: 0 0 5px;
                font-size: 1em;
                color: $theme-color;
                font-family: $droid-bold;
                font-weight: bold;
            }
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .table-responsive {
                margin-bottom: 0;
            }
            .table {
                margin-bottom: 0;
                tbody {
                    tr {
                        td {
                            &.logo {
                                img {
                                    max-width: 100px;
                                    max-height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:767px) {
    #application-details {
        .panel {
            .panel-body {
                [class*="col-sm-"] {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .row {
                    +.row {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}